pandas ~= 1.2.4
numpy ~= 1.20.3
sklearn ~= 0.0
boto3 ~= 1.17.73
streamlit ~= 0.82.0
prospector ~= 1.3.1
dash ~= 1.20.0
dash-bootstrap-components ~= 0.12.2
dash-trich-components ~= 0.0.9
gunicorn ~= 20.1.0